<div class="center">

<h2>Were you arrested before the age of 18?</h2>



<%= link_to("No", 2_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("Yes", 9_path, :method => "get", :class => "btn btn-large") %>

</div>