<div class="center">

<h2>Were you arrested after your 18th birthday?</h2>


<%= link_to("Yes", chargedadult_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("No", yeararrested_path, :method => "get", :class => "btn btn-large") %>

<br><br>
<%= link_to("I'm not sure", notsure_path, :method => "get", :class => "btn btn-large") %>

</div>
