
<div class="center">

<h2>Did the criminal case you want to expunge happen in Maryland?</h2><br>

<%= link_to("Yes", b1_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", cantuse_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>



</div>