

<div class="center">
		<div class="well">
		<h2>Did the offense date happen before or after your 18th birthday?</h2><br>
		<%= link_to("On/After", b2_path, :method => "get", :class => "btn btn-large") %> <br><br>
		<%= link_to("Before", b4_path, :method => "get", :class => "btn btn-large")%> <br><br>
		<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %><br><br>
		<%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>
	</div>
</div>

<!-- <span class="ttbottom" title="A birthday is an arbitrary measurement of the passage of time in a person's life; birthdays are most commonly used as an excuse to party" id="example"> -->