<div class="center">

<h2>Did the offense date happen before or after your 18th birthday?</h2><br>

<%= link_to("On/After", b2_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("Before", b4_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>
