
<div class="center">

<h2>Were you found guilty for a crime of violence?</h2><br>

<%= link_to("Yes", b11_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b18_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>




</div>





