<div class="center">

<h2>You likely cannot expunge your case without a <a href="<%= asset_path( 'Pardon Information.pdf' )%>">governor's pardon.</a><br><br>If you had any uncertainty about answering the questions on this website, you should <%= link_to("get your criminal record", step2_path)%> to clarify any uncertainy, and <%= link_to("speak with an attorney.", forms_path)%><br>
</h2><br>

<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>


</div>




