<div class="center">

<h2>Was the pardoned crime the only crime on your record?</h2><br>

<%= link_to("Yes", b7_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b13_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




