<div class="center">

<h2>Were you <span class="ttbottom" title="If your case was dismissed, click Yes. If your case was acquitted or dismissed, it means that the charges against you were found to be invalid." id="example2">acquitted?</span></h2><br>

<%= link_to("Yes", b24_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b14_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>




</div>







