<div class="center">

<h2>Was your case <span class="ttbottom" title="A dismissal removes your case form court early in the process, before the question of your guilt is resolved. Your case may have been dismissed for lack of evidence or if your constitutional rights were violated." id="example2">dismissed</span> or were you <span class="ttbottom" title="An acquittal frees you from the charges that have been brought against you. You may receive an acquittal in several ways, for example if the jury finds you not guilty, or if the judge decides that your case should be closed for lack of evidence." id="example2">acquitted?</span></h2><br>

<%= link_to("Yes", b24_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b14_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>




</div>







