<div class="center">
	<div class="well">
		<h2>Did you receive an <span class="ttbottom" title="An acquittal frees you from the charges that have been brought against you. You may receive an acquittal in several ways, for example if the jury finds you not guilty, or if the judge decides that your case should be closed for lack of evidence." id="example2">acquittal?</span></h2><br>
		<%= link_to("Yes", b24_path, :method => "get", :class => "btn btn-large") %> <br><br>
		<%= link_to("No", b50_path, :method => "get", :class => "btn btn-large") %><br><br><br><br>
		<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %><br><br>
		<%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>

	</div>
</div>










	
			
			
			
			
			 







