<div class="center">

<h2>Were you acquitted?</h2><br>

<%= link_to("Yes", b24_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b14_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>




</div>







