<div class="center">

<h2>Do you have any subsequent convictions besides minor traffic violations?</h2><br>

<%= link_to("Yes", b20_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b45_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>

