<div class="center">

<h2>Did the State <span class="ttbottom" title="If you received a Nolle Prosequi (Noll Pros) click Yes" id="example2">drop the charges</span> against you?</h2><br>

<%= link_to("Yes", b27_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b16_path, :method => "get", :class => "btn btn-large")%> <br><br><br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>

</div>

