<div class="center">

<h2>Did you receive a <span class="ttbottom" title="A stet is a postponement of your case" id="example2">stet</span> or <span class="ttbottom" title="A probation before judgment concludes your case by allowing you to leave court without a conviction or points on your record, even if you pleaded guilty or were found guilty. Probation before judgment often requires that you comply with judge-imposed conditions for a specified amount of time." id="example2">probation before judgment?</span></h2><br>



<%= link_to("Yes", b26_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b17_path, :method => "get", :class => "btn btn-large")%> <br><br><br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>



</div>
