<div class="center">

<h2>Were you found not criminally responsible for one of the following?</h2><br>

<div class="table-responsive">
<table class='table' style="max-width: 500px;
    word-wrap: break-word; margin: 0 auto;">
	
	<tr>
		<td>Urination</td>
		<td>Panhandling</td>
	</tr>
	<tr>
		<td>Public Drunkenness</td>
		<td>Obstruction</td>
	</tr>
	<tr>
		<td>Public Sleeping</td>
		<td>Loitering</td>
	</tr>
	<tr>
		<td>Vagrancy</td>
		<td>Telephone misuse</td>
	</tr>
	<tr>
		<td>Trespass</td>
		<td>Disturbing the peace</td>
	</tr>
	<tr>
		<td>Riding public transit without paying the fare</td>
		</tr>
			
</table>
</table><br><br>


<!-- 
<ul>
	<li>Urination</li>
	<li>Panhandling</li>
	<li>Public Drunkenness</li>
	<li>Obstruction</li>
	<li>Public Sleeping</li>
	<li>Loitering</li>
	<li>Vagrancy</li>
	<li>Riding public transit without paying the fare</li>
	<li>Trespass</li>
	<li>Disturbing the peace</li>
	<li>Telephone misuse</li>
</ul><br>  -->

<%= link_to("Yes", b35_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b18_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




