<div class="center">

<h2>Were you found guilty? </h2><br>

<%= link_to("Yes", b35_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b19_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




