<div class="center">

<h2>Were you given a pardon from the governor for the crime you seek to expunge?</h2><br>

<%= link_to("Yes", b12_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b19_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




