<div class="center">

<h2>Were you arrested after your 18th birthday?</h2><br>

<%= link_to("Yes", b3_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b6_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>

