<div class="center">

<h2>Were you released without charge?</h2><br>

<%= link_to("Yes", b3_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b8_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>

