<div class="center">

<h2>Did you receive no disposition?</h2><br>

<%= link_to("Yes", b45_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b45_path, :method => "get", :class => "btn btn-large")%> <br><br><br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>

</div>




