<div class="center">

<h2>Has it been three years since you were found not guilty?</h2><br>

<%= link_to("Yes", b23_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b21_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




