
<div class="center">
	<div class="well">
		<h2>Have you completed a <span class="ttbottom" title="A general waiver is an agreement that you won’t sue the police, and is often completed at the police department." id="example2">general waiver</span> saying you will not sue the police?
		</h2><br>
		<%= link_to("Yes", b23_path, :method => "get", :class => "btn btn-large") %> <br><br>
		<%= link_to("No", b22_path, :method => "get", :class => "btn btn-large")%> <br><br><br><br>
		<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %><br><br>
		<%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>
</div>
</div>




