<div class="center">

<h2>You can likely expunge your case!</h2> <br>
	
<h3>	[fields for name, email, phone number,]<br>
	
	Do you have your criminal record? <br>
	
	[yes] [no] <br>
	
	[button for send] </h3><br>
	
	
	<!-- need to lookinto how to keep this information secure -->
	
	
	<h3>
	To find out more about the process, you can send your information to a volunteer attorney by filling out the form below. <br> <i>There should not</i> be a court fee. </h3>
	

	
	
	

</div>