<div class="center">

<h2>Has it been three years or more since you were found not guilty or been acquitted, had your case dismissed?</h2><br>

<%= link_to("Yes", b24_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b33_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




