<div class="center">

<h2>While your criminal case is still open you likely cannot expunge, but as soon as your case is closed please come back to try and expunge your case!<br><br>

If you had any uncertainty about answering the questions on this website, you should <%= link_to("get your criminal record", step2_path)%> to clarify any uncertainy, and <%= link_to("speak with an attorney.", forms_path)%></h2>

<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>

</div>

