<div class="center">

<h2>Was it for a DUI or DWI?</h2><br> 

<%= link_to("Yes", b46_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b27_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




