
<div class="center">

<h2>Were you on probation for three years? If you didn't receive probation, has it been 3 years since your court decision?'</h2><br>

<%= link_to("Yes", b31_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b28_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>


</div>




