<div class="center">
	<div class="well">
		<h2>Have you completed a general waiver saying you will not sue the police?</h2><br>
		<%= link_to("Yes", b31_path, :method => "get", :class => "btn btn-large") %> <br><br>
		<%= link_to("No", b29_path, :method => "get", :class => "btn btn-large")%> <br><br>
		<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>
	</div>
</div>




