<div class="center">

<h2>Do you have an open or pending criminal case against you?</h2><br>

<%= link_to("Yes", b34_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b35_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




