<div class="center">
	<div class="well">
		<h2>You may be able to file for a <a href="<%= asset_path( 'general_waiver_form.pdf' ) %>" target="_blank" >general waiver</a> and apply for expungement. Please <%= link_to("speak with an attorney.", forms_path)%>
		</h2><br>
		<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>
	</div>
</div>




