<div class="center">
	<div class="well">
		<h2>If you were arrested after 10/1/2007, then your record should be automatically expunged. You can <%= link_to("get your criminal record", step2_path)%> to make sure your case was expunged. <br><br>You should <%= link_to("speak with an attorney", forms_path)%> if you have any further questions about your case.</h2><br>
				<%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>
	</div>
</div>

