<div class="center">

<h2>Did you receive a walkthrough or no charge?</h2><br>

<%= link_to("Yes", b4_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b7_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>

