<div class="center">

<h2>Is the Unit Rule applicable in your case?</h2><br>

<%= link_to("Yes", b36_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b33_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




