<div class="center">

<h2>Did you receive a conviction later in any state, besides minor traffic violations?</h2><br>

<%= link_to("Yes", b34_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b30_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




