<div class="center">

<h2>Has it been three years since your disposition or the end of your probation?</h2><br>

<%= link_to("Yes", b32_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b37_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




