<div class="center">

<h2>You likely cannot expunge your case, but with the <%= link_to("help of an attorney", forms_path)%> you might be able to file for an exception.<!-- good cause --><br><br>If you had any uncertainty about answering the questions on this website, you should <%= link_to("get your criminal record", step2_path)%> to clarify any uncertainy.</h2><br>

<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>

</div>
