<div class="center">

<h2>Has it been three years since you completed your court ordered treatment or since your case? (use whichever date is later)</h2><br>

<%= link_to("Yes", b28_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b33_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




