<div class="center">

<h2>You need to file for a general waiver and apply for expungement.</h2><br>

<h3><a href="<%= asset_path( 'general_waiver_form.pdf' ) %>" target="_blank" >General Waiver Form</a></h3>

</div>




