<div class="center">

<h2>Were you charged as an adult?</h2><br>

<%= link_to("Yes", b5_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b7_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>

