<div class="center">

<h2>If you were arrested after 10/1/2007, then your record should be automatically expunged. If you were arrested before 10/1/2007 you can have your record expunged.</h2><br>



</div>

