<div class="center">
	<div class="well">
		<h2>Were you charged as an adult or juvenile?</h2><br>
		<%= link_to("Adult", b5_path, :method => "get", :class => "btn btn-large") %> <br><br>
		<%= link_to("No", b7_path, :method => "get", :class => "btn btn-large")%> <br><br><br><br>
		<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %><br><br>
		<%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>
	</div>
</div>

