<br><br><br>

<div class="well">
	<div class="left-justify" style="padding: 20px 20px 0 20px;">
		<h3>
			We're very sorry, the answers you've provided indicate that you likely can't expunge your case. However, there are still options for you. If you were uncertain about answering the questions on this website, you should <%= link_to("get your criminal record", step2_path)%> 					and <%= link_to("speak with an attorney.", forms_path)%>
		</h3>
		<h3>
			

			</div>
		</h3>
		
		
			<div class="table-responsive">


<div class="center">
	<h2>Employment Assistance</h2>
	<div class ="justify2">
		<h3>If your record is coming between you and employment, the following local non-profits and government agencies provide training, 			job-placement, and support services to ex-offenders.</h3>
	</div>
</div>

<br>

			<table class='table' style="max-width: 600px;
			    word-wrap: break-word; margin: 0 auto;">
	
					<tr>
						<td><a href="http://uwcm.org/main/211.html" target="blank_">United Way 211: </td>
						<td> 211</td>
					</tr>
					<tr>
						<td><a href="http://www.alternativedirectionsinc.org/" target="blank_">Alternative Directions:</a></td>
						<td>410-889-5072</td>

					</tr>
					<tr>
						<td><a href="http://www.aawdc.org" target="blank_">Anne Arundel Workforce Development Corporation:</td>
						<td> 410-987-3890</td>
					</tr>
					<tr>
						<td><a href="http://www.baltimorecountymd.gov" target="blank_">Baltimore County Workforce Development System: </td>
						<td> 410-887-4048</td>
					</tr>
					<tr>
						<td><a href="http://www.humanim.com/workforce-development-item" target="blank_">Humanim (Baltimore City): </td>
						<td> 410-381-7171</td>
					</tr>
					<tr>
						<td><a href="http://www.caroline-center.org" target="blank_">Caroline Center:</td>
						<td> 410-563-1303</td>
					</tr>
					<tr>
						<td><a href="http://www.cfuf.org" target="blank_">Center for Urban Families:</td>
						<td> 410-367-5691</td>
					</tr>
					<tr>
						<td><a href="http://genesisjobs.org/" target="blank_">Genesis Jobs – Goodwill:</td>
						<td>410-323-9400</td>
						</tr>
					<tr>
						<td><a href="http://www.goodwillches.org/" target="blank_">Goodwill Industries of the Chesapeake: </td>
						<td>410-837-1800</td>
					</tr>
					<tr>
						<td><a href="http://www.ecsm.org/" target="blank_">Jericho – Episcopal Community Services of Maryland:  </td>
						<td>410-522-3293</td>
					</tr>
					<tr>
						<td><a href="http://www.livingclassrooms.org/" target="blank_">Living Classrooms:  </td>
						<td>410-685-0295</td>
					</tr>
					<tr>
						<td><a href="http://www.mce.md.gov/" target="blank_">Maryland Correctional Enterprises:  </td>
						<td>410-540-5400</td>
					</tr>
					<tr>
						<td><a href="http://www.mdnewdirections.org" target="blank_">Maryland New Directions:  </td>
						<td>410-230-0630</td>
					</tr>
					<tr>
						<td><a href="http://www.oedworks.com/" target="blank_">Mayor’s Office of Employment Development (Baltimore City):  </td>
						<td>410-396-3009</td>
					</tr>
					<tr>
						<td><a href="http://www.cc-md.org/our-daily-bread/" target="blank_">Our Daily Bread Employment Center:  </td>
						<td>443-986-9010</td>
					</tr>
					<tr>
						<td><a href="http://shepherdstable.org/" target="blank_">Shepherd's Table (Montgomery County):  </td>
						<td>301-585-6463</td>
					</tr>
					
					
				</table>
				</table>			
		</p>
		
		<div class="center">
		<%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>
	</div>
		
			</div>
	</div>		
		
</div>		
	



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52594415-1', 'auto');
  ga('send', 'pageview');

</script>
	
	

