<div class="center">

<h2>If you did not receive a pardon, then you likely cannot expunge your record. To learn more about pardons, check out this <a href="<%= asset_path( 'Pardon Information.pdf' ) %>" target="_blank" >pardon information form.</a><br><br>If you had any uncertainty about answering the questions on this website, you should <%= link_to("get your criminal record", step2_path)%> to clarify any uncertainy, and <%= link_to("speak with an attorney.", forms_path)%></h2><br>

<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>


</div>




