<div class="center">

<h2>If you have more than one crime on your record (except minor traffic violations), you are likely not eligible for expungement.<br><br>If you had any uncertainty about answering the questions on this website, you should <%= link_to("get your criminal record", step2_path)%> to clarify any uncertainy, and <%= link_to("speak with an attorney.", forms_path)%><br></h3><br></h2><br>

<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>


</div>




