<div class="center">

<h2>Was the pardoned crime the only crime on your record?</h3></h2><br>

<%= link_to("Yes", b44_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b42_path, :method => "get", :class => "btn btn-large")%> <br><br><br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>

</div>




