<div class="center">

<!-- <h2>You can retrieve your case record from the court that heard your case. This will provide us with more information to resolve your expungement. Please speak with an attorney about retrieving your case record.<br><br> -->


<h2>If you had any uncertainty about answering the questions on this website, you should <%= link_to("get your criminal record", step2_path)%> to clarify any uncertainy, and <%= link_to("speak with an attorney.", forms_path)%></h2>

</div>

