<div class="center">

<h2>You can retrieve your case record from the court that heard your case. This will provide us more information to resolve your expungement. Please speak with an attorney about retrieving your case record.</h2><br>


</div>

