<div class="center">

<!-- <h2>You can retrieve your case record from the court that heard your case. This will provide us with more information to resolve your expungement. Please speak with an attorney about retrieving your case record.<br><br> -->


<h2>We need to know the outcome of your case. To use this website effectively, you should <%= link_to("get your criminal record", step2_path)%> or <%= link_to("speak with an attorney.", forms_path)%></h2>

<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>

</div>

