<div class="center">

<h2>You've indicated that you were not arrested before the age of 18. You've also indicated that you were not arrested after your 18th birthday. If this is true, then you have no criminal record! </h2><br>

</div>

