<div class="center">

<h2>You can likely expunge your case!</h2> <br>
	
</div>

	<h3>To find out more about the process, you can send your information to a volunteer attorney by filling out the form below. <br> There may be a court 		fee. </h3>

	
<form >
	First name: <input type="text" name="firstname"><br>
	Last name: <input type="text" name="lastname"><br>
	Email: <input type="text" name="email"><br>
	Phone number: <input type="text" name="phone"><br>
</form>

<h3>	
	
	Do you have your criminal record? <br>
	
	[yes] [no] <br>
	
	[button for send] </h3><br>
	
	
	<!-- need to lookinto how to keep this information secure
	
	
	What information is needed at the time of application?
	Name currently using and any alias you may have used at the time of arrest
	Current address (If you move during the process contact all parties to ensure you receive you Certificate of Compliance
	
	from https://www.dpscs.state.md.us/publicservs/expung.shtml
	
	Your gender (male/ female)
	Date of birth
	Date of arrest
	Case number and tracking number
	Arresting agency
	
		COUNTY OF ARREST field

	 -->
	

	
	
	

	
	
	



