<div class="center">

<h2>Your record can be <span class="ttbottom" title="When a record is sealed, it cannot be viewed by the general public but it may be viewed by police departments, military officials, and other government personnel." id="example2">sealed</span>, but cannot be expunged.</h2><br>

</div>

