<div class="center">

<h2>Did the State decide not to prosecute you?</h2><br>

<%= link_to("Yes", b12_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b10_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>




