<div class="center">

<h2>Your record likely can be <span class="ttbottom" title="When a record is sealed, it cannot be viewed by the general public but it may be viewed by police departments, military officials, and other government personnel." id="example2">sealed</span>, but likely cannot be expunged. You should speak wth an attorney if you have any further questions about your case.</h2><br>



<form >
	First name: <input type="text" name="firstname"><br>
	Last name: <input type="text" name="lastname"><br>
	Email: <input type="text" name="email"><br>
	Phone number: <input type="text" name="phone"><br>
</form>

<h3>	
	
	Do you have your criminal record? <br>
	
	[yes] [no] <br>
	
	[button for send] </h3><br>
	
	</div>