<div class="center">

<h2>Were you charged with more than one crime?</h2><br>

<%= link_to("Yes", b9_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("No", b12_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>



</div>




