<div class="center">

<h2>This site is only intended for arrests that happened in Maryland. You should contact your local legal aid or pro bono lawyers' service for assistance in expunging your record outside of Maryland.</h2><br><br>
<%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>

</div>


