<div class="center">

<h2>Were you charge as an adult?</h2>


<%= link_to("Yes", juvrecord_path, :method => "get", :class => "btn btn-large")%>
<%= link_to("No", autoexpunge_path, :method => "get", :class => "btn btn-large") %>

<br><br>
<%= link_to("I'm not sure", notsure_path, :method => "get", :class => "btn btn-large") %>

</div>
