<div class="disclaimed">

<h2 align="center">DISCLAIMER</h2>
<p>This web app is intended to help clarify juvenile expungement, but <i><b>does not serve as a substitute for legal advice</b></i>. To ensure that there is no misunderstanding, it's a good idea to speak with a lawyer:
<ul>
	<li>if you are uncertain about how to answer any of the following questions</li>
	<li>after you go through all the questions, to double check your eligibility</li>
</ul>
To speak with a lawyer, just click "Maryland Volunteer Lawyers Association" at the top of the page.</p>


</div>

<div class="centerdiv">
<%= link_to("Yes", qopen3_path, :method => "get", :class => "btn btn-large") %>	
	
<%= link_to("OK, I understand. Let's get started!", b1_path, :method => "get", :class => "btn btn-large") %>	

</div>