<div class="centerdiv">

<h2 align="center">DISCLAIMER</h2>

</div>

<div id="medium-text">


<p style="line-height: 1.3;">This web app is intended to help clarify expungement in maryland, but <i><b>does not serve as a substitute for legal advice</b></i>. To ensure that there is no misunderstanding, it's a good idea to speak with a lawyer:</p>
<ul style="line-height: 1.3;">
	<li style="line-height: 1.3;">if you are uncertain about how to answer any of the following questions</li>
	<listyle="line-height: 1.3;">after you go through all the questions, to double check your eligibility</li>
</ul>
<p style="line-height: 1.3;">To speak with a lawyer, just click "Maryland Volunteer Lawyers Association" at the top of the page.</p>
</div>



<div class="centerdiv">
	
<%= link_to("OK, I understand. Let's get started!", b1_path, :method => "get", :class => "btn btn-large") %>	

</div>
