<div class="centerdiv">

<br><br><h2 align="center">DISCLAIMER</h2>

</div>

<div id="medium-text">


<p style="line-height: 1.6;">This website is intended to help clarify expungement in <u><b>Maryland</u></b>  and <b><u>does not serve as a substitute for legal advice.</b></u> It is a good idea to speak to a lawyer if you still have questions about your record and are unsure of how to answer any of the questions in this app.</p>


</div>



<div class="centerdiv">
	
<%= link_to("OK, I understand. Let's get started!", b1_path, :method => "get", :class => "btn btn-large") %>	

</div>
