<div class="centerdiv">

<br><br><h2 align="center">DISCLAIMER</h2>

</div>

<div id="medium-text">


<p style="line-height: 1.6;">This website is intended to help clarify expungement in <u><b>Maryland</u></b>  and <b><u>does not serve as a substitute for legal advice.</b></u> It is a good idea to speak to a lawyer if you still have questions about your record and are unsure of how to answer any of the questions in this app. Use of this website does not create an attorney-client relationship.</p>

<h2 align="center">PRIVACY</h2>
<h3 align="center">What information do we collect?</h3>
<p style="line-height: 1.6;">ExpungeMaryland.org will only ask for your basic contact information so that an attorney can follow up with your case. ExpungeMaryland.org will never share your information with any other third party.</p>

</div>



<div class="centerdiv">
	
<%= link_to("OK, I understand. Let's get started!", b0_path, :method => "get", :class => "btn btn-large") %>	

</div>
