<div class="center">
		<div class="well">

<h2>Unfortunately we can't be of further help to you without this information. </h2>


<div style="text-align: left"><br>
<h3>If you don't know because you don't have your official criminal record, you can <%= link_to("see the steps to obtaining your arrest information (CJIS RAP sheet).", step2_path, :method => "get") %><br><br>

If you already have your criminal record, and you still don't know the answer to this question, you can check out our resources page to <%= link_to("find someone who can help you.", forms_path, :method => "get") %></h3>
</div>

<br><br><%= link_to("Start Over", b0_path, :method => "get", :class => "btn btn-large") %>
</div>
</div>




	

	
	
	<!--  the Maryland Volunteer Lawyers Association:</h2><br><br>

<h3>
	Phone:<br>(410) 547-6537 or (800) 510-0050 Mon-Thurs 9 am to 1 pm	<br>
	<%= link_to('Online Intake Page', "http://www.mvlslaw.org/clients/apply-for-services/", :method => "get") %> <br>
	Address:	<br> One North Charles Street Suite 222<br>
Baltimore, MD 21201

</h3> -->


</div>

