<div class="page-header">
    <h1>Frequently Asked Questions</h1>
</div>

<h3>After I find out I am eligible to apply for juvenile expungement in Illinois, what do I have to do?</h3>
<p>Remember that free legal aid is available to help you complete the process! Use it! To petition for criminal record expungement, you will need to:</p>
<ol>
    <li> Get a copy of your RAP sheet</li>
    <li> Fill out a petition form</li>
    <li> Submit your petition to the appropriate court</li>
</ol>

<h3>Where do I get my RAP sheet?</h3>
<p>For records in the Baltimore City, go to:</p>
<p>[Need address]</p>

<!--<p>Records and Services Division of the Chicago Police Department:<br>
3510 S Michigan, Chicago IL 60653<br>(312)745-5508<br>Mon-Fri 8am-12pm</p> -->


<h3>How much does juvenile expungement cost?</h3>
<p>It costs $40 to expunge a single arrest. However, many people qualify for a fee waiver that makes expungement free.</p>

<h3>How long does the process take?</h3>
<p>[Info here]</p>

<h3>After I petition for juvenile expungement, what are the chances that my petition will be approved?</h3>
<p>[Info here]</p>