
	
	

<div class="page-header">
		<h1>
			Organizations that can help you with expungement
		</h1>
</div>	

<div class="basicbody">	
	
	<h3>
		<a href="http://www.mvlslaw.org/" target="blank_">The Maryland Volunteer Lawyers' Service (MVLS)</a>
	</h3>
	<p>MVLS provides pro bono legal representation to Marylanders with <a href="http://www.mvlslaw.org/clients/" target="blank_">limited income.</a> MVLS accepts criminal record expungement cases.
	</p>
	

	<h3>
		<a href="http://www.hprplaw.org/" target="blank_">The Homeless Persons Representation Project</a>
	</h3>
	<p>
		HPRP launched a project to eliminate restrictions on employment and housing for certain persons 	with criminal records by representing homeless people in proceedings to expunge records of charges 		that result in non-conviction (eg. where the prosecutor refuses to prosecute), advocating for 		expansion of statutory eligibility for expungement, and urging housing providers and employers to 		provide access.
	</p>

	<h3>
		<a href="http://www.mdlab.org/" target="blank_">Maryland Legal Aid</a> 
	</h3>
	<p>
		Maryland Legal Aid’s services are free for <a href="http://www.mdlab.org/get-help-services/income-guidelines" target="blank_">financially eligible individuals.</a> They can reached at (410) 321-8860 and are located at CCBC Randallstown Center
Liberty Center
3637 Offutt Road
Randallstown, MD 21133
	</p>


	
	
<div class="page-header">
		<h1>
			Expungement Paperwork
		</h1>
</div>
		<ul style="font-size: 18px; list-style-type: none;" class="linklist">
					<li><a href="<%= asset_path( 'petition.pdf' ) %>" target="_blank" ><h3>Expungement Petition Form</h3></a> </li>
					<li><a href="<%= asset_path( 'general_waiver_form.pdf' ) %>" target="_blank" ><h3>General Waiver Form</h3></a></li>
					<li><a href="<%= asset_path( 'pardon_application.pdf' ) %>" target="blank_"><h3>Pardon Petition Application</h3></a></li>

				</ul>
		
</div>	

		
		

