

<div class="page-header">
  <h1>Welcome to ExpungeMaryland.org</h1>
</div> 

<div id="medium-text">
    <p style="color: #535353;">You had a run-un with the criminal system. You may have a criminal record and it may be preventing you from bettering your life.</p>
    <p style="color: #535353;">However, you can do something about it.</p>
	<p style="color: #535353;">
		If you meet certain requirements, you can get your <b><span style="color: #2a2a2a">criminal record erased</span></b> through a process called expungement. ExpungeMaryland.org is a <b style="color: #2a2a2a">free</b>online tool, which determines through a few simple questions, if your record can be erased.  The tool also suggests next steps which often include working with a lawyer.  Your information is not saved or shared with anyone so it’s important that you be as accurate as possible to ensure the best information. </p>
	<p style="color: #535353;">
		The entire online review takes <i><b style="color: #2a2a2a">less than 6 minutes</b></i>.  Let’s get started!
	</p>
</div>

<br><br>

<div class="row" id='action-steps'>


	<div class="span4">
		<div class='well'>
			<%= link_to('<button id="medium-text">1. How can I expunge my record?</button>'.html_safe, step1_path, :method => "get") %>
		</div>
	</div>


	<div class="span4">
		<div class='well'>
		<%= link_to('<button id="medium-text">2. Get my arrest information (CJIS rap sheet)</button>'.html_safe, step2_path, :method => "get") %>
		</div>
	</div>


	<div class="span4">
		<div class='well'>
			<%= link_to('<button id="medium-text">3. Find out if I am eligible for expungement!</button>'.html_safe, disclaimer_path, :method => "get") %>
		</div>





	</div>

</div>









<!-- <div id ="medium-text">

	<%= link_to('<button id="big-text">I was arrested in Maryland. Can I erase my criminal record?</button>'.html_safe, disclaimer_path, :method => "get") %> 
	

	
	
</div>  -->



