<div class="page-header">
  <h1><b>Welcome to ExpungeMaryland.org</b></h1>
</div> 

<div id="medium-text">
    <p style="color: #535353;">You had a run-in with the criminal system. You may have a criminal record and it may be preventing you from bettering your life.</p>
    <p style="color: #535353;">However, you can do something about it.</p>
	<p style="color: #535353;">
		If you meet certain requirements, you can get your criminal record erased through a process called expungement. ExpungeMaryland.org is a free online tool, which determines through a few simple questions, if your record can be erased.  The tool also suggests next steps which often include working with a lawyer.  Your information is not saved or shared with anyone so it’s important that you be as accurate as possible to ensure the most accurate result. </p>
	<p style="color: #535353;">
		The entire online review takes less than 6 minutes.  Let’s get started!
	</p>
</div>

<br><br>

<div class="row" id='action-steps'>
	<div class="span4" style="text-align: center;">
		<div class='well'>
		<%= link_to('<button id="medium-text">What is Expungement?</button>'.html_safe, b52_path, :method => "get") %>
		</div>
	</div>
	<div class="span4" style="text-align: center;">
		<div class='well'>
			<%= link_to('<button id="medium-text">How can I expunge my record?</button>'.html_safe, step1_path, :method => "get") %>
		</div>
	</div>
	<div class="span4" style="text-align: center;">
		<div class='well'>
			<%= link_to('<button id="medium-text">Can I expunge my record?</button>'.html_safe, disclaimer_path, :method => "get") %>
		</div>
	</div>
</div>










<!-- <div id ="medium-text">

	<%= link_to('<button id="big-text">I was arrested in Maryland. Can I erase my criminal record?</button>'.html_safe, disclaimer_path, :method => "get") %> 
	

	
	
</div>  -->



