

<div class="page-header">
  <h1>Welcome to ExpungeMaryland.com</h1>
</div> 

<div id="medium-text">
    <p>If you were arrested and charged with an adult crime, you probably have a criminal record -- these records do not go away on their own.</p>
    <p>The good news: many criminal records can be erased through a process called <b>expungement!</b></p>
</div>

<br>
<div class="page-header">

 <br>
 </div>


<div class="row" id='action-steps'>


	<div class="span4">
		<div class='well'>
			<%= link_to('<button id="medium-text">1. How can I expunge my record?</button>'.html_safe, step1_path, :method => "get") %>
		</div>
	</div>


	<div class="span4">
		<div class='well'>
		<%= link_to('<button id="medium-text">2. Get my arrest information (CJIS rap sheet)</button>'.html_safe, step2_path, :method => "get") %>
		</div>
	</div>


	<div class="span4">
		<div class='well'>
			<%= link_to('<button id="medium-text">3. Find out if I am eligible for expungement!</button>'.html_safe, disclaimer_path, :method => "get") %>
		</div>





	</div>

</div>









<!-- <div id ="medium-text">

	<%= link_to('<button id="big-text">I was arrested in Maryland. Can I erase my criminal record?</button>'.html_safe, disclaimer_path, :method => "get") %> 
	

	
	
</div>  -->



