<div class="page-header">
<h2>How to Apply for Expungement</h2>
</div>


<div class="basicbody">


<ol style="font-size: 19px; margin-bottom: 20px;" >
	<li>Determine if you are eligible for Expungement.</li><br>

      <li > If you are eligible for expungement, you will need to fill out a Petition for Expungement (Hyper Link this to the PDF) and a General Waiver (HyperLink). Each expungement has a $30.00 fee, UNLESS you file a Waiver of Filing Fees (HyperLink) and that waiver is granted by the court. </li><br>

<li>       Once these forms are filed, you must file them with the court where your case was heard. Make sure you make four copies of your Petition for Expungement form. </li><br>

<li>       The State’s Attorney has 30 days to object to your request. </li><br>

<li>      You may have to attend a court hearing. If you are required to attend a court hearing, you will need to be prepared to give your reasons for the expungement request. </li><br>

<li>      The court will send you notice if your petition for expungement has been granted or denied. If granted, the court will order the relevant agencies, like the police that arrested you, to expunge their records. Agencies have 60 days to comply. </li><br>

<li>      Follow up with the court after 60 days to make sure your record was expunged. </li> <br>
</ol>  

</div>