
<div class="page-header">
<h1>Applying for Expungement</h1>
</div>

<div class="basicbody">

<ol style="font-size: 19px; margin-bottom: 20px;">
	<li>If you can, contact an attorney.</li><br>
	<li>If you haven’t read how to apply for expungement yet, do so here. [link]</li><br>
	<li>Three Forms</li><br>
	<ul>
		<li>Petition for Expungement</li><br>
		<li>General Waiver</li><br>
		<li>Waiver for Filing Fees</li><br>
	</ul>
</ol>
	


</div>