
<div class="page-header">
<h1>How to Acquire a CJIS Sheet</h1>
</div>

<div class="basicbody" style="font-size: 19px;">
	
	No matter what option you choose, make sure you have your driver’s license or another state issued ID when you go. There is a fee for this process, so have $38 too.<br><br>

 <ul>

	 <li><b>Option 1: </b>
		 <ul style="list-style-type: none;">
			 <li>
				 Anyone can go to the CJIS office on the first floor of Reisterstown Plaza at 
				 <ul style="list-style-type: none;"><br>
					 <li>

						 <a href="https://www.google.com/maps/place/6776+Reisterstown+Rd/@39.3570207,-76.7056421,17z/data=!3m1!4b1!4m2!3m1!1s0x89c81a4177a54535:0x5b71116aaace2c4c">
						 6776 Reisterstown Road<br> <!--(let’s hyperlink this to Google maps already set up for directions)-->

						 Baltimore, Maryland 21215<br></a></br>

						 Phone: 
					 		<ul style="list-style-type: none;">
							<li>1-888-795-0011</li>
						 </ul>

						 Hours: 
						 	<ul style="list-style-type: none;">
								<li>8:30am - 5:00pm: Mon, Tues, Wed</li>
								<li>8:30am-6:30pm: Thurs</li>
								<li>8:30-4:30 First & Third Saturday of every month</li>
							</ul>
								
						 
						 
		
					 </li>
				 </ul>
			 </li>
		</ul>

		<br>
                      
	<li>
		<b>Option 2:</b>
		<ul style="list-style-type: none;">
			<li>
					Visit your local law enforcement agency to be fingerprinted on State Fingerprint Card 015. Some law enforcement agencies require 					appointments for fingerprinting, so call ahead. Mail your fingerprints overnight to the address listed above.
			</li>
		</ul>
	</li>
 		
		<br>
 
	<li>
		<b>Option 3:</b>
		<ul style="list-style-type: none;">
			<li>
				Call CJIS at 1-888-795-0011 to set up an appointment at the Motor Vehicle Administration (MVA) in Salisbury. Your fingerprints 					will be sent on your behalf to the CJIS office for processing.
			</li>
		</ul>
	</li>
  </ul>	
	
	
	
	
	
	
<!-- >	
<ol style="font-size: 19px; margin-bottom: 20px;" >
	<li>Determine if you are eligible for Expungement.</li><br>

      <li > If you are eligible for expungement, you will need to fill out a Petition for Expungement (Hyper Link this to the PDF) and a General Waiver (HyperLink). Each expungement has a $30.00 fee, UNLESS you file a Waiver of Filing Fees (HyperLink) and that waiver is granted by the court. </li><br>

<li>       Once these forms are filed, you must file them with the court where your case was heard. Make sure you make four copies of your Petition for Expungement form. </li><br>

<li>       The State’s Attorney has 30 days to object to your request. </li><br>

<li>      You may have to attend a court hearing. If you are required to attend a court hearing, you will need to be prepared to give your reasons for the expungement request. </li><br>

<li>      The court will send you notice if your petition for expungement has been granted or denied. If granted, the court will order the relevant agencies, like the police that arrested you, to expunge their records. Agencies have 60 days to comply. </li><br>

<li>      Follow up with the court after 60 days to make sure your record was expunged. </li> <br>
</ol>  -->

</div>