/*
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */



h1 { 
	font-family: "Lato", Georgia, serif;
	text-decoration: underline;
 }


/* General */
html, body {
  height: 100%;
}

/*light teal was #DAEDE5, light blue #B6E3E3, lighter blue azure, greenish #A4DBC2*/
body {
  background: #fff;
  background-size:500px 500px;
  font-family: 'Lato', sans-serif;
  -webkit-text-stroke: 0.1px;

  @media screen and (max-width: 480px) {

    h2, h3 {
      line-height: 1.2em;
	  color: #000 !important;
    }
  }
}

button {
  background-color: #EAAB00;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 22px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-text-stroke: 0px;

}

button:hover {
  background: #ffbc09;
}


a {
  color: #EAAB00;

  &:hover {
    color: #ffbc09;
    border-bottom: 1px solid #ffbc09;
    text-decoration: none;
  }
}

#big-text{
  font-size:2.0em;
  line-height:1.2em;
}

#medium-text{
  font-size:1.4em;
  line-height:1.2em;
  max-width: 750px;
  margin: 0px auto;

}

.btn {
  font-size:1.5em;
  line-height:1.2em;
  position: relative;

}

p {
  margin: 0 0 20px 0;
  font-size: 20px;
  line-height:130%;
  color: #535353;
}

hr {
  border-color: #333;
}

/* Layout */
#content {
  padding-top: 60px;

  @media screen and (max-width: 979px) {
    padding-top: 0;
  }
}


.well{
  background-color: #f9f9f9;

}

/* Sticky footer */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -61px; /* the bottom margin is the negative value of the footer's height */
}

footer,
.push {
  height: 61px; /* .push must be the same height as .footer */
}

/* Header */
.topbar{
  // the salmon color was D97A55. teal #48BDAD
  //background-image:url('Flag_of_Maryland.svg.png');
  background-color: #EAAB00 ;
  background-size: 900px;
  -webkit-text-stroke: 0px;

  @media screen and (max-width: 979px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 480px) {

    .brand {
      float: none;
      display: inline-block;
    }
  }

  .nav > li > a{
    text-shadow: none;
    color: white;
    border: none;
	font-family: "lato", Georgia, serif;
	font-size: 20px;
	padding-top:17px;

	
	&:hover {
		color: #E72425;
	}
	

    @media screen and (max-width: 480px) {
      padding: 0 10px 10px;
    }
  }

  .brand {
    padding: 0;
    width: 500px;
    height: 48px;
    margin: 10px 20px 0 0;
    text-indent: -999999px;
    background: image-url('logo10.png') 0 0 no-repeat;
	background-size: 400px;
    border: none;
    
	@media screen and (max-width: 480px) {
      background-size: 400px;;
    }
	
  }
   
}




/* Content */


 .page-header {
 	 border: none;
 	 color: #000;
	 font-size: 19px;
	 max-width: 750px;
 	 line-height: 1.3em;
	 text-align: center;
 	 margin: 40px auto; 
	 
     @media screen and (max-width: 480px) {

       h1, h2, h3 {
         line-height: 1.2em;
   	  font-size: 24px;
	  font-family: "chunkfive", Georgia, serif;
       }
	 
	 
} }


/* Footer */
footer {
  border-top: 1px solid #2f756b;
  height: 60px;

  @media screen and (max-width: 979px) {
    &,
    .text-right {
      text-align: left;
    }    
  }

  .row {
    padding: 10px 0;
  }

  iframe {
    vertical-align: top;
    &.twitter-share-button { margin-left: 15px; }
  }
}

/* Random Extra Stuff I've added */

.center {
	text-align: center;
	margin: 60px auto 0 auto;
	max-width: 1000px;
}

.justify {
	text-align: left;
	margin: 60px auto;
	width: 999px;	
}

.justify2 {
	text-align: left;
	width: 999px;
}


.questions {
	text-align: center;
	margin: 60px auto 0 auto;
	max-width: 900px;
	height: auto;

}

.blue {
    border: none;
    color: #166B92;
}

.basicbody {
	max-width: 750px;
	margin: 0 auto;
	
}

.faq {
	max-width: 750px;
	margin: 0 auto;
}


ol.spacylist {

}


/* Tool Tips */

span.ttleft {
	color: #B45F04;
	text-decoration: underline;
}

span.ttright  {
	color: #B45F04;
	text-decoration: underline;
}

span.tttop  {
	color: #B45F04;
	text-decoration: underline;
}

span.ttbottom  {
	color: #B45F04;
	text-decoration: underline;
}

.tooltip-inner {
    font-size: 13px;
}



